/* 
------------------------------------------------------------------Reasoning------------------------------------------------------------------
Open to change. I picked out primary color as I wanted a blueish main color (website, coolor, calls it blue green).

Website then randomly shows you color that all fit will together (with less variations are you 'lock-in' more than one color.
It also doesn't suggest what should be used as primary or secondary or anything.

I really like the 'purple' as the secondary color but I could see it being used as an accent.
I then locked in a 'smoky black' which i think would be an easy choice for text but maybe Im not too imaginative with text colors haha.
Locked in 'French Grey' as either accent or background, good contrast as a lighter blue to my primary blue
Leaving 'Old Rose' as either remaining accent or background.

This variable approach is also nice because I can set up multiple different palettes and just 
uncomment selection I want to see and compare and contrast the 'feel' to another selection
*/

$primary-color: #2266B4; 
$secondary-color: #7B287D;
$accent-color: #C17767;
$background-color: #C1CAD6;
$text-color: #0F0A0A;

/*
-------------------------------------------------------------Alternative Palettes--------------------------------------------------------------
Example, this could be a second different palette selection to compare to the above.
I will keep the primary color the same but
*/

// $primary-color: #2266B4;
// $secondary-color: #11151C;
// $accent-color: #7D4E57;
// $background-color: #D66853;
// $text-color: #76877D;